@font-face{
    font-family: 'carnevalee';
    src: url('../fonts/Carnevalee/Carnevalee\ Freakshow.ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'dibiel';
    src: url('../fonts/Dubiel/DubielPlain.ttf');
    font-weight: 300;
}

