/* NAV */

nav {
    position: absolute;
    top: 0;
    right: calc(-70% + 27px);
    border-radius: 5px;
    height: 27px;
    width: 70%;
    background: #800000;
    cursor: pointer;
    transition: all 1s ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .link {
    font-family: dibiel;
    color: white;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    border-right: 1px solid white;
    padding-right: 25px;
}

nav .link:last-child {
    border: none;
    padding: 0;
}

nav .link:hover {
    text-shadow: 0 0 5px black;
}

nav:hover {
    right: 0;
    border-radius: 0;
    cursor: unset;
}

nav:hover:before,
nav:hover:after{
    opacity: 0;
}


nav::before {
    content: '';
    top: 0;
    left: 13px;
    position: absolute;
    height: 27px;
    width: 1px;
    background: white;
    animation-name: mover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 1s ease;
}

nav::after {
    content: '';
    top: 13px;
    left: 0;
    position: absolute;
    height: 1px;
    width: 27px;
    background: white;
    animation-name: mover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 1s ease;
}

@keyframes mover {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}